body {
  background-color: #ffe9e3;
  font-family: sans-serif;
}
h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
  color: #7c73e6;
}
h2 {
  margin: 0 0 5px;
  color: #7c73e6;
  font-size: 28px;
}
select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
}
.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: #fafafa;
  padding: 60px;
  border-radius: 15px;
  box-shadow: 10px 10px 2px 1px rgba(190, 190, 239, 0.2);
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 10px, 0;
  padding: 30px 0;
  border-bottom: 1px dashed #c4c1e0;
}
.city:last-child {
  border: none;
}

.date {
  opacity: 0.8;
  color: #c4c1e0;
}
.time {
  font-size: 40px;
  font-weight: bold;
  color: #7c73e6;
}
footer {
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0.7);
}
a {
  color: #7c73e6;
}
